apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: local-selfsigned
  namespace: {{ .Values.namespace }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: local-root-ca
  namespace: {{ .Values.namespace }}
spec:
  isCA: true
  commonName: local-dev-ca
  secretName: local-root-ca
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: local-selfsigned
    kind: Issuer
    group: cert-manager.io
