apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-gateway-to-deployments
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: deployments-service
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: gateway
      ports:
        - protocol: TCP
          port: 8081
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: allow-apps-to-redis
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: redis
  types:
    - Ingress
  ingress:
    - action: Allow
      source:
        selector: app in {"deployments-service","events-service","notifications-service"}
      destination:
        ports:
          - 6379

