apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argo-rollouts-istio-access
  labels:
    app.kubernetes.io/name: argo-rollouts-istio
rules:
  - apiGroups:
      - networking.istio.io
    resources:
      - virtualservices
      - destinationrules
    verbs:
      - get
      - list
      - watch
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argo-rollouts-istio-binding
  labels:
    app.kubernetes.io/name: argo-rollouts-istio
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argo-rollouts-istio-access
subjects:
  - kind: ServiceAccount
    name: argo-rollouts
    namespace: argo-rollouts
