namespace: deployment-event-platform

imagePullSecrets: []

services:
  gateway:
    image: punit144/gateway:latest
    replicas: 2
    port: 80
  deploymentsService:
    image: punit144/deployments-service:latest
    replicas: 2
    port: 8081
  eventsService:
    image: punit144/events-service:latest
    replicas: 2
    port: 8082
  notificationsService:
    image: punit144/notifications-service:latest
    replicas: 2
    port: 8083
  frontend:
    image: punit144/frontend:latest
    replicas: 2
    port: 80

postgres:
  image: postgres:15
  user: postgres
  password: postgres
  db: platform

redis:
  image: redis:7-alpine

rollout:
  enabled: true
  strategy: canary
  canaryWeight: 20
  stableService: gateway-stable
  canaryService: gateway-canary

istio:
  host: "deployment-platform.local"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

gatekeeper:
  enabled: false
